<!-- Footer-->
    <footer class="py-2 bg-dark">
        <div class="container">
            <div class="m-3">
            <span class="badge rounded-pill bg-light text-dark">대표자</span>
               <span class="m-0 text-center text-white">
                &nbsp; 오윤지</span>
            </div>
            <div class="m-3">
            <span class="badge rounded-pill bg-light text-dark">주소지</span>
               <span class="m-0 text-center text-white">
                &nbsp; 서울특별시 도봉구 삼양로 144길 33 덕성여자대학교</span>
            </div>
            <div class="m-3">
            <span class="badge rounded-pill bg-light text-dark">고객 센터</span>
               <span class="m-0 text-center text-white">
                &nbsp; 02-901-8000</span>
            </div>
            <span class="m-0 text-center text-white">
              &nbsp; &nbsp;Copyright &copy; 덕성여자대학교 컴퓨터공학전공 20200742 오윤지</span>
        </div>
    </footer>